/* reset  */
*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#container{
    width: 1000px;
    margin: auto;
}

/* header */
header>p>img{
    width: 100%;
}

/* nav */
nav{
    background-color: blue;
    margin-top: -5px;
}

nav>ul{
    /* bỏ dấu chấm trong thẻ ul li */
    list-style: none;
    margin-left: 30px;
}

nav>ul>li{
    /* các items sẽ được sắp xếp trên cùng 1 dòng */
    display: inline-block;
    margin: 10px 20px;
}

nav>ul>li>a{
    /* bỏ gạch chân thẻ a */
    text-decoration: none;
    color: white;
}

/* banner */
.banner{
    margin-top: 5px;
}

.banner>p>img{
    width: 100%;
}

/* search */
.search{
    background-color: blue;
}

.search>form{
    padding: 15px 0;
    margin-left: 30px;
}

.search>form>input{
    width: 80%;
    height: 25px;
    padding-left: 10px;
}

.search>form>button{
    background-color: orange;
    color: white;
    /* khung viền */
    border: 1px solid white;
    padding: 6px 20px;
    margin-left: 30px;
}

/* article */
article{
    margin-top: 20px;
}

.khuyen-mai>h3{
    text-align: center;
    color: yellowgreen;
}

.column{
    /* sắp xếp bố cục các thành phần 1 cách dễ dàng, linh hoạt */
    /* float: left; */
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 15px;
}

.san-pham{
    border: 1px solid black;
    padding: 30px 15px;
}

.ten{
    /* in đậm */
    font-weight: bold;
    padding-bottom: 30px;
    font-size: 18px;
}

.gia{
    line-height: 1.6;
}

.gia>p{
    color: red;
    font-size: 23px;
    font-weight: bold;
}

.tin-tuc{
    margin: 20px 0;
}

.tin-tuc>h3{
    text-align: center;
    color: yellowgreen;
}

.noi-dung-tin-tuc{
    border: 1px solid black;
    display: flex;
    padding: 20px;
    margin-top: 15px;
}

.anh-tin-tuc>p>img{
    width: 430px;
}

.noi-dung-chinh{
    margin-left: 30px;
    line-height: 1.5;
}

.noi-dung-chinh>h4{
    color: brown;
    font-size: 23px;
}

footer{
    background-color: blue;
    color: white;
    text-align: center;
    padding: 20px;
}